.hero-container {
   
    padding: 20px;
}

.mySwiper {
    width: 100%;
    height: 500px; /* Fixed height for all slides */
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    background: linear-gradient(135deg, #302b63, #000710, #24243e);
    padding: 20px;
    border-radius: 10px;
}

.slide-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6347; /* Tomato color */
    color: white;
    cursor: pointer;
}

.slide-button:hover {
    background-color: #e5533d; /* Darker tomato color */
}


@media screen and (max-width: 768px){
    h2, p {
        font-size: 12px;
    }
    .container-fluid{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}
@media screen and (max-width: 430px){
    .hero-container{
        margin: 0;
    }
}
@media screen and (max-width: 768px){
    h2, p {
        font-size: 12px;
    }
}