/* General styles */
.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
a, li {
    color: white;
}
.navbar {
  width: 100%;
  padding: 0;
}

@media (max-width: 1200px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }

  .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
  }
}

@media (max-width: 576px) {

    .container-fluid{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
  .navbar-brand img {
    width: 20px;
    height: 16px;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 0.875rem;
  }
}
