.f-container{
    justify-content: space-between !important;
}

.f-left{
    gap: 1rem;
}

.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
}


@media screen and (max-width: 768px) {
    .f-container{
        margin-top: 5px;
        justify-content: center;
        display: flex;
        flex-direction: column;

    }

    .f-container>div{
        align-items: center !important;
        text-align: center !important;
    }


}