* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

.app {
  background: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bar-container{
  background: linear-gradient(135deg, #000428, #000710, #0d0057);

}


.hero-container{
  background: linear-gradient(135deg, #061161, #000710, #2a0845);

}

.Navbar-container {
  flex: 0 0 auto; /* Navbar height does not shrink or grow */
}
.sidebar{
  background: linear-gradient(135deg, #000428, #004e92);
}
.main-content{
  background: linear-gradient(135deg, #000428, #000710, #0d0057);

}
.sidebar, .footer, .main-content, .rightSide {
  flex: 1 0 auto; /* These components take up available space */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.rightSide{
  background: linear-gradient(135deg, #200122, black, #1d2671);
}

.bar-container, .hero-container, .main-content, .sidebar, .rightSide, .footer {
  width: 100%;
}

@media (max-width: 1200px) {
  .bar-container, .hero-container, .main-content, .sidebar, .rightSide, .footer {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .bar-container, .hero-container, .main-content, .sidebar, .rightSide, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .bar-container, .hero-container, .main-content, .sidebar, .rightSide, .footer {
    padding: 5px;
  }
}
